
{% extends "base.html" %}

{% block main %}

    <h1>Noticias da Economia</h1>

    <h2><strong>O que é o Banco Central?</strong></h2>
    <p>O Banco Central do Brasil, também conhecido popularmente 
        como Bacen, é uma instituição federal brasileira responsável 
        pela autoridade monetária do país. Está associada diretamente 
        com o Ministério da Economia e é uma autarquia (ou seja, é uma 
        entidade independente do poder executivo, sendo mais autônoma).</p>
    
    <h2><strong>O que é Educação Financeira?</strong></h2>
    <p>Segundo a Organização para Cooperação e Desenvolvimento Econômico 
        (OCDE), o conceito de educação financeira é o processo que permite 
        melhorar a compreensão em relação aos produtos e serviços financeiros, 
        dando a capacidade de se fazerem escolhas de forma mais consciente.</p>
    

{% endblock %}