
{% extends "base.html" %}

{% block main %}

    <h1>Noticias da Educação</h1>

    <h2><strong>Educação de qualidade: a importância do 
        aprendizado consciente</strong></h2>
    <p>Uma educação de qualidade é aquela que fornece a todos os 
        alunos as capacidades de que precisam para se tornarem 
        economicamente produtivos, desenvolver meios de vida 
        sustentáveis, contribuir para sociedades pacíficas e 
        democráticas e melhorar o bem estar individual.</p>
    
    <h2><strong>Cursos de TI: por que investir nessas graduações?</strong></h2>
    <p>Os cursos de TI (Tecnologia da Informação) formam profissionais 
        para atuarem em áreas estratégicas das empresas, utilizando 
        dados e sistemas digitais para pensar em soluções inovadoras. 
        A área de Tecnologia da Informação tem, cada vez mais, 
        disponibilizado vagas, seja no Brasil ou no exterior, mas 
        há poucos profissionais qualificados no mercado de trabalho.</p>
    

{% endblock %}