
{% extends "base.html" %}

{% block main %}

    <h1>Noticias do Esporte</h1>

    <h2><strong>Real Madrid acredita na contratação de Mbappé
        e Bellingham para a próxima temporada</strong></h2>
    <p>O Real Madrid se prepara para duas grandes contratações 
        para a próxima temporada. Além do meio-campista Jude 
        Bellingham, que já teria decidido assinar contrato com 
        a equipe espanhola, os dirigentes merengues trabalham 
        internamente com a possibilidade de convencer Kylian 
        Mbappé para se juntar à equipe.</p>
    
    <h2><strong>Como é a premiação da Copa do Brasil?</strong></h2>
    <p>A CBF vai distribuir uma premiação recorde na Copa do 
        Brasil 2023. Serão R$ 420 milhões divididos entre a 
        primeira fase até a final. O campeão leva R$ 70 milhões 
        e o vice R$ 30 milhões, sem contar o valor acumulado 
        das outras fases.</p>
    

{% endblock %}