
{% extends "base.html" %}

{% block main %}

    <h1>Noticias da Tecnologia</h1>

    <h2><strong>Rede 5G</strong></h2>
    <p>O 5G é a evolução da atual rede de celulares de quarta geração. 
        Trata-se de uma rede mais potente e veloz que, além de ser 
        “inteligente”, causa menos impacto ao meio ambiente. A rede 5G 
        vem sendo desenvolvida para comportar o crescente volume de 
        informações trocado diariamente por bilhões de dispositivos 
        sem fio espalhados mundialmente.</p>
    
    <h2><strong>O que é um Banco de Dados?</strong></h2>
    <p>Um banco de dados é uma coleção organizada de informações - 
        ou dados - estruturadas, normalmente armazenadas eletronicamente 
        em um sistema de computador. Um banco de dados é geralmente 
        controlado por um sistema de gerenciamento de banco de dados (SGBD). </p>
    

{% endblock %}